<h4>Search by first_name, last_name and organisation title</h4>
<%= form_tag(root_path, method: :get) do   %>
  <%= text_field_tag(:first_name, params[:first_name], placeholder: "First name") %>
  <%= text_field_tag(:last_name, params[:last_name], placeholder: "Last name") %>
  <%= text_field_tag(:title, params[:title], placeholder: "Organisation Title") %>
  <%= submit_tag ("Search") %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Organisation Title</th>
    </tr>
  </thead>
  <tbody>
    <% @persons.each do |person| %>
      <tr>
        <th scope="row"><%= person.id %></th>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.organisation.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
