<!DOCTYPE html>
<html>
  <head>
    <title>CloudAssessExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <p>Hello <%= current_user.email %></p>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
